<mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Usuario" 
                    formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña"
                    formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="isSubmitted && isLoginFailed" class="error">
                Falló inicio de sesión: {{ errorMessage }}
            </p>

            <div class="button">
                <button type="submit" mat-button>Iniciar Sesión</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>