<mat-vertical-stepper>
    <mat-step [stepControl]="profileFormGroup">
        <form [formGroup]="profileFormGroup">
            <ng-template matStepLabel="Profile">Datos Personales</ng-template>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Cédula o RUC" [(ngModel)]="donante.cedula" formControlName="cedula" required>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de donante</mat-label>
                <mat-select [(ngModel)]="selectedValue" [(ngModel)]="donante.tipo_donante" formControlName="tipo_donante">
                  <mat-option *ngFor="let tipodonante of tipo_donante" [value]="tipodonante.value">
                    {{tipodonante.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Nombres" [(ngModel)]="donante.nombres" formControlName="nombres" required>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Apellidos" [(ngModel)]="donante.apellidos" formControlName="apellidos" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input placeholder="mm/dd/yyyy" matInput [matDatepicker]="picker" [(ngModel)]="donante.fecha_nacimiento" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <button type="button" mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="contactoFormGroup">
        <form [formGroup]="contactoFormGroup">
            <ng-template matStepLabel="Address">Datos de Contacto</ng-template>
            <mat-form-field appearance="fill">
                <input matInput placeholder="N° de telefono o celular" [(ngModel)]="donante.celular" formControlName="celular" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Correo electrónico" [(ngModel)]="donante.correo" formControlName="correo" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Dirección" [(ngModel)]="donante.direccion" formControlName="direccion" required>
            </mat-form-field>
            <div>
                <button type="button" mat-button matStepperPrevious>Anterior</button>
                <button type="button" mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="donacionFormGroup">
        <form [formGroup]="donacionFormGroup">
            <ng-template matStepLabel="donacion">Donación</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Forma de Pago</mat-label>
                <mat-select [(ngModel)]="selectedValue" formControlName="tipo_pago">
                  <mat-option *ngFor="let tipopago of tipo_pago" [value]="tipopago.value">
                    {{tipopago.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="N° cuenta" formControlName="cuenta" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Monto a donar" [(ngModel)]="donacion.monto" formControlName="monto" required>
            </mat-form-field>
            <div>
                <button type="button" mat-button matStepperPrevious>Anterior</button>
                <button type="button" mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="detallesFormGroup">
        <form [formGroup]="detallesFormGroup">
            <ng-template matStepLabel="detalles">Detalles</ng-template>
            <p>Para finalizar, nos encantaría saber el por qué su donación</p>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Detalles" [(ngModel)]="donacion.detalles" formControlName="detalles" required>
            </mat-form-field>
            <button mat-button type="submit" (click)="crearDonante();crearDonacion()">Enviar</button>
        </form>
    </mat-step>
</mat-vertical-stepper>