body {
    font-family: "Cambo", "Times New Roman", serif;
}
h2 {
    font-size: 40px;
}
.title-area > h2 {
    font-size: 30px;
    color: white;
}
.title-area > h2 {
    font-size: 30px;
    color: white;
}
h3 {
    color: black;
}
h5, .title-area > h5 {
    font-size: 18px;
    color: white;
}
.formulario:hover {
    background-color: rgba(255, 255, 255, 0.2);
}