<app-navbar></app-navbar>
    <!-- </nav> -->

    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('assets/img/portadaASVOLH.jpg')" >
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <!-- <p>Free Demo</p> -->

                        <h2 class="title-modern">Asociación de Voluntariado Hospitalario</h2>
                        <h4>Porque no siempre los ángeles son blancos, tambien pueden ser rosados</h4>
                        <img src="assets/img/logo.png" width="175vw">
                    </div>
                    <div class="logo">

                    </div>
                    <!-- <div class="button-get-started">
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" target="_blank" class="btn btn-white btn-fill btn-lg ">
                            Download Demo
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="section section-comites">
        <div class="container">
            <div class="row">
                <div class="title-area" >
                    <h5 class="subtitle text-gray">Te presentamos</h5>
                <h2 data-intro='Conoce donde brindamos nuestros servicios.'>Nuestros Comités Hospitalarios</h2>
                    <div class="separator separator-danger">✻</div>
                    <!-- <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 comites">
                    <div class="info-icon">
                        <h3>Albergue Rosa Eva Aguilar de Sánchez</h3>
                        <p class="description">Se brinda un ambiente digno, seguro y confortable a los pacientes y familiares que se alojan aquí. El albergue cuenta con una capacidad de 100 camas y ofrece sus servicios los 365 días del año.</p>
                        <div class="icon text-danger">
                            <img src="assets/img/comites/AlbergueRosa.jpg" class="img-comites">
                            <!-- <i class="pe-7s-graph1"></i> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 comites">
                    <div class="info-icon">
                        <h3>Hospital de la Mujer Alfredo Paulson</h3>
                        <p class="description">Fundado el 19 de agosto de 1983, aquí se brindan servicios a la mujer en las diferentes etapas de su embarazo y parto, promoviendo la lactancia materna y educación de las embarazadas con el fin de tener un parto exitoso y conocer sobre los cuidados del recién nacido.</p>
                        <div class="icon text-danger">
                            <img src="assets/img/comites/HospMujer.jpg" class="img-comites">
                            <!-- <i class="pe-7s-note2"></i> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 comites">
                    <div class="info-icon">
                        <h3>Hospital de Niños Dr. Roberto Gilbert</h3>
                        <p class="description">Fundado el 18 de julio de 1986, se inició el trabajo con niños mediante programas creativos que enriquecen diariamente la vida de sus pequeños pacientes y familiares.</p>
                        <div class="icon text-danger">
                            <img src="assets/img/comites/HospRoberto.jpg" class="img-comites">
                            <!-- <i class="pe-7s-music"></i> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 comites">
                    <div class="info-icon">
                        <h3>Hospital Luis Vernaza</h3>
                        <p class="description">Fundado el 15 de octubre de 1980, es el comité fundador de nuestra asociación. Se brinda asistencia y prevención a pacientes y familiares, de los cuales, nuestra prioridad son los de la Unidad de Quemados.</p>
                        <div class="icon text-danger">
                            <img src="assets/img/comites/InstNeuro.jpg" class="img-comites">
                            <!-- <i class="pe-7s-graph1"></i> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 comites">
                    <div class="info-icon">
                        <h3>Instituto de Neurociencias</h3>
                        <p class="description">Después de una ardua preparación, el 23 de enero de 1992 se inician con éxito los trabajos con los pacientes psiquiátricos, ayudando con diversas actividades para su etapa de re-inserción en la sociedad.</p>
                        <div class="icon text-danger">
                            <img src="assets/img/comites/LuisVernaza.jpg" class="img-comites">
                            <!-- <i class="pe-7s-note2"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area programas">
                    <h5 class="subtitle text-gray">Te presentamos</h5>
                <h2 data-intro='Breves descripciones de los programas que ofrecemos.'>Nuestros Programas y Servicios</h2>
                    <div class="separator separator-danger">✻</div>
                    <!-- <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <img src="assets/img/kangaroo.png" class="img-programas">
                            <!-- <i class="pe-7s-graph1"></i> -->
                        </div>
                        <h3>Plan Canguro</h3>
                        <p class="description">El Plan Canguro es una técnica de atención al neonato que consiste en mantener un contacto piel con piel entre los padres y el bebé prematuro.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <img src="assets/img/wire.png" class="img-programas">
                            <!-- <i class="pe-7s-note2"></i> -->
                        </div>
                        <h3>Taller de Mallas</h3>
                        <p class="description">En el Taller de Mallas se confeccionan mallas compresivas a la medida para pacientes que han sufrido quemaduras en el cuerpo.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <img src="assets/img/store.png" class="img-programas">
                            <!-- <i class="pe-7s-music"></i> -->
                        </div>
                        <h3>Bazar</h3>
                        <p class="description">Disponemos de un bazar donde vendemos alimentos, ropa para bebés y adultos, juguetes, accesorios para el aseo personal, pañales, biberones, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="section section-small section-get-started" >
        <div class="parallax filter">
            <div class="image"
                style="background-image: url('assets/img/portada2.jpg')">
            </div>
            <div class="container col-md-6 formulario">
                <div class="title-area">
                    <h2 class="text-white">¿Te gustaría ser el ángel de alguien?</h2>
                    <h3>¡Sé parte de nuestro equipo!</h3>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> </p>
                </div>
                <div class="button-get-started">
                    <a routerLink="/registros" class="btn btn-danger btn-fill btn-lg" id="registro"
                    data-intro='Si quieres ser parte de nuestro equipo, registrate en el boton de este apartado :)'>Registro</a>
                </div>
            </div>
            <div class="container col-md-6 formulario">
                <div class="title-area">
                    <h2 class="text-white">Ayúdanos con tu donación</h2>
                    <h3>¡Tu donación puede ser la diferencia en la vida de alguien!</h3>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> </p>
                </div>
                <div class="button-get-started">
                    <a routerLink="/donacion" class="btn btn-danger btn-fill btn-lg" id="donacion"
                    data-intro='Si quieres ser parte de nuestro equipo, registrate en el boton de este apartado :)'>Donación</a>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!--  -->
    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('assets/img/portada3.jpg')">
            </div>
            <div class="container" >
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2 data-intro='Aquí encuentras a nuestros benefactores.'>Conoce a Nuestros Benefactores</h2>
                            <div class="separator separator-danger">✻</div>
                            <h5>Porque una mano amiga nunca está de más</h5>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/sponsors/junta_benef.png"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Junta de Beneficencia de Guayaquil</h3>
                                                    <p class="description">Actualmente, ASVOLH realiza sus actividades en cuatro estabecimientos de la Junta de Beneficencia, mediante una relación de continua coordinación, respeto e integración en beneficio de los pacientes.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/sponsors/deprati.png"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">DePrati</h3>
                                                    <p class="description">Desde hace algunos años, DePrati apoya a ASVOLH mediante donaciones de productos usados para la recaudación de fondos para la fundación.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/sponsors/fund_sanch.png"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Fundación Sánchez Aguilar</h3>
                                                    <p class="description">La Fundación Sánchez Aguilar cede en comodato las instalaciones del Albergue Rosa Eva Aguilar de Sánchez y la oficina central de ASVOLH</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-small section-get-started" >
        <div class="parallax filter">
            <div class="image"
                style="background-image: url('assets/img/contacto.jpg')">
            </div>
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-area">
                        <h2 data-intro='Aquí nos puedes contactar.'>Contáctanos</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                    <app-contact-form></app-contact-form>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container" text-align="center">
            <div class="row">
                <div class="col-md-6 col-sm-3" data-intro='Nos puedes encontrar en esta ubicación.'>
                    <div class="info">
                        <h5 class="title">Ubicación</h5>
                        <div class="map-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.94060773161!2d-79.88726828584899!3d-2.1762605378567574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6dcf65a1abf7%3A0xc220653932f0e1f0!2sFundacion%20ASVOLH!5e0!3m2!1ses-419!2sec!4v1638223473207!5m2!1ses-419!2sec" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="info">
                        <h4 class="title">Dirección:</h4>
                        <h5>Cdla. Atarazana, Av. Dr. Roberto Gilbert y Democracia</h5>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Contacto y Redes Sociales</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=593985117228&app=facebook&entry_point=page_cta" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-whatsapp"></i> WhatsApp
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/asvolh/" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-phone"></i> +593 (4) 2287957
                                    </a>

                                </li>
                                <li>
                                    <a class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-phone"></i> +593 (4) 2396869
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Creative Tim, made with love
            </div>
        </div>
    </footer>



