<header id="main-header" class="navbar-default navbar-fixed-top" data-height-onload="70" data-height-loaded="true" data-fixed-height-onload="70">
    <!-- <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200"> -->
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <!-- <div class="image"
                style="background-image: url('assets/img/logo.png')">
                </div> -->
                <a routerLink="/" class="navbar-brand">
                    ASVOLH
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase" id="menuoptions">
                    <li>
                        <a routerLink="/quienessomos" class="btn btn-danger btn-fill" data-intro='Conoce más sobre nosotros'>¿Quiénes Somos?</a>
                    </li>
                    <li>
                        <a routerLink="/registros"
                        class="btn btn-danger btn-fill" target="_self" data-intro='Conoce al equipo de desarrollo web'>Registro Voluntarios</a>
                    </li>
                    <li>
                        <a routerLink="/donacion"
                        class="btn btn-danger btn-fill" target="_self" data-intro='Conoce al equipo de desarrollo web'>Donación</a>
                    </li>
                     <li>
                        <a routerLink="/equipo"
                        class="btn btn-danger btn-fill" target="_self" data-intro='Conoce al equipo de desarrollo web'>Equipo de Desarrollo</a>
                    </li>
                    <li>
                        <a routerLink="/noticias"
                        class="btn btn-danger btn-fill" target="_self" data-intro='Revisa nuestras últimas noticias'>Noticias</a>
                    </li>
                    <li>
                        <a routerLink="/login"
                        class="btn btn-danger btn-fill" target="_self" data-intro='Revisa nuestras últimas noticias'>Administradores</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </header>
